.event-main-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 100px;
}

.event-main-section .event-image {
    background-image: url(Images/events.png)
    flex-grow: 1;
    max-height: 55vh;
    min-width: 45vw;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.icon-section {
    display: flex;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: .5rem;
    padding: .75rem;
    width: 170px;
    height: 180px;
    background-color: #202027;
    margin-bottom: 2rem;
}

.icon img {
    width: 100px;
}

@media (max-width: 900px) {
    .discover-main-section {
        flex-direction: column;
        justify-content: center;
    }

    .discover-main-section .team-image {
        display: none;
    }
}


